
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}


.textfield {
font-size: 2rem;
}


.style-btn {
    font-size: 2rem;
    font-family: monospace;
    background-color: lightgray;
  }